@model LessonsViewVM

@{
    ViewData["Title"] = "My Lessons";
}

<h1>My Lessons</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-calendar-plus"></i>  Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lessons[0].Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lessons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.StartDate)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                    @if (item.IsPaid == true)
                    {
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" checked autocomplete="off">
                    } else{
                    <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    }
                    <button data-id="@item.Id" class="btn btn-outline-success paidBtn" for="btn-check-outlined" id="button-addon2"> Paid </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> 
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

                   
<form id="deleteForm" asp-action="Delete">
   <input type="hidden" id = "lessonId" name="Id" />
</form>

<form id="paidForm" asp-action="MarkPaid">
    <input type="hidden" id="lessonPaidId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function(){
           $('.deleteBtn').click(function(e) {
               swal({
                   text: "Are you sure you want to delete this record?",
                   icon: "warning",
                   buttons: true,
                   dangerMode: true
               }).then((confirm) => {
                   if(confirm){
                       var btn = $(this);
                       var id = btn.data("id");
                       $('#lessonId').val(id);
                       $('#deleteForm').submit();
                   }
               });
           });
            $('.paidBtn').click(function (e) {
                swal({
                    text: "Are you sure you want to change this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#lessonPaidId').val(id);
                        $('#paidForm').submit();
                    }
                });
            });
       });
    </script>
    }